# Build files
build/
target/

# Dependency files
node_modules/

# Package files
pkg/

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 
~/

# Cargo build files
engine/target
engine/Cargo.lock
